[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplotlib = "==3.5.2"
mlflow = "==1.26.1"
numpy = "==1.22.4"
hyperopt = "==0.2.7"
pandas = "==1.4.2"
pyarrow = "==8.0.0"
prefect = "==2.0b5"
scikit-learn = "==1.0.2"

[dev-packages]
notebook = "*"

[requires]
python_version = "3.9"
